Temp/
Library/
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.orig
Assets/Scenes/Main.unity.orig.meta
Assets/Textures/Thumbs.db.meta
